
body{
    margin: 0;
    padding: 0;
    background: rgb(56,68,75);
    background: radial-gradient(circle, rgba(56,68,75,1) 0%, rgba(35,43,48,1) 100%);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100dvh ;
}
#profilec{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_1{
  
    border-radius: 20px;
    overflow: hidden;
    max-width: 295px;
    margin: 20px;
    background-color: #1a1a1a;
    box-shadow: 0px 8px 13px  rgba(0, 0, 0, 0.63);
    order: 0;
}
.card_1 input{
    text-align: end;
    outline: 0;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    border: 0px;
    color: #fff;
    height: 150px;
    width:285px;
    padding-right: 10px;
    background-color: black;
}
.col_1 button{
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background: transparent;
    font-family: 'Oswald', sans-serif;
    transition: all 0.5s;
}
.card_1 button:hover{
    background-color: rgb(70, 70, 70);
    transition: all 0.5s;
}
.col_1 .opera{
    background-color: rgba(70, 70, 70, 0.76);
    font-weight: bold;
    color: rgb(143, 205, 231);
}
.col_1 .eql1{
    background-color: rgb(78, 112, 126);
}
.container1{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tb{
    height: 250px;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    padding-right: 10px;
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.25);
}
.tp{
    min-width: 250px;
    height: 300px;
    margin-right: 15px;
    border-radius: 49px;
    /* background: linear-gradient(155deg, #D67383 0%, #792845 100%); */
    background: linear-gradient(155deg, #73aed6 0%, #1b4252 100%);
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content:center ;
    align-items: center;
}
.pic{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: url(pimg.png) center/cover no-repeat;
}
.cont{
    width: 280px;
    font-family: Oswald;

}
.cont p{
    color: #2D2D2D;
    font-size: 20px;
    font-weight: bold;
}
.cont p span{
    color: #828282;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.ic ul{
    list-style: none;
}
@media (max-width: 1100px){
    .tb{
        width: 70%;
        height: 130px;
        border-radius: 20px;
    }
    .tp{
        min-width: 125px;
        height: 150px;
        border-radius: 20px;
    }
    .pic{
        width: 70px;
        height: 70px;
        border-radius: 100px;
    }
    .cont{
        width: 250px;
        height: 100px;
        padding: 2px;
    }
    .cont p{
        font-size: 15px;
        line-height: 10px;

    }
    .cont p span{
        font-size: 7px;
    }
    .ic{
        width: 25px;
        height: 100px;
    }
    .ic ul li a img {
        width: 15px;
        height: 15px;
        position: relative;
        right: 35px;
    }
    .container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        /* align-content: center; */
    } 
    .card_1{
        order: 2;
    }

    
}
